/* heder */
/* event */
/* start sugest */
/* end suggest */
/* start footer */
/* end footer */
/* fix slide */
/* end fix slide */
/* nhap */
body {
	height: 1000vh;
	background-color: #f5f5f5;
}
.full_header {
	background-color: #f94e2f;
}
.all {
	color: aliceblue;
	font-size: 0.75rem;
}
.gio_hang {
	font-size: 1.0625rem;
}
a {
	color: aliceblue;
	&:hover {
		color: rgb(189, 179, 166);
	}
}
.m_search {
	position: relative;
}
.b_search {
	position: absolute;
	top: 0;
	right: 8px;
	background-color: #f94e2f;
}
.center {
	background-image: url(../img/bg_center.png);
	padding-bottom: 0px;
	margin: 0px auto 4.375rem;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.adv {
	width: 100%;
	margin-top: 40px;
	img {
		width: 100%;
	}
}
.advimg1 {
	margin-bottom: 14px;
}
.event_shop_s {
	img {
		width: 50%;
		margin: auto;
		align-items: center;
		justify-content: center;
		display: flex;
	}
}
.event_text {
	font-size: 0.75rem;
	text-align: center;
	line-height: 0.75rem;
	max-width: 150px;
	margin-bottom: 8px;
}
.suggest-img {
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.suggest-text {
	font-size: 14px;
}
.suggest-price {
	display: flex;
	justify-content: space-around;
	align-items: center;
	.price {
		color: rgb(238, 77, 45);
		font-size: 16px;
		font-weight: 600;
	}
	.buy {
		color: rgba(0, 0, 0, 0.54);
		font-size: 12px;
	}
}
footer {
	background-color: #f5f5f5;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.65);
}
.footer-nd {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 20px;
	.quydinh {
		padding: 0 15px;
	}
}
.footer-nd-2 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.address {
	text-align: center;
	div {
		margin-top: 10px;
	}
}
.footer-end {
	padding-bottom: 50px;
}
.slick-prev {
	margin-left: 50px;
	content: "←";
	color: #f94e2f;
	z-index: 999;
	&:before {
		line-height: 3;
	}
}
.slick-next {
	&:before {
		margin-left: -95px;
		content: "→";
		line-height: 3;
	}
}
.slick-dots {
	bottom: 4px;
	li {
		button {
			&:before {
				font-size: 20px;
				color: aliceblue;
			}
		}
	}
	li.slick-active {
		button {
			&:before {
				opacity: 0.75;
				color: #f94e2f;
			}
		}
	}
}
.slide_img {
	img {
		width: 100%;
		margin-top: 40px;
	}
}
.col-r5 {
	min-width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.row-col-9 {
	min-width: 11%;
}
