* {
  box-sizing: border-box;
}
/* thiết lập style cho slideshow container */

/* .header {
  background: #000;
  &__top {
    color: #ffffff;
    &--left {
      color: #f84a2f;
    }
  }
} */

/* note */
a:hover {
  color: gray;
}
ul {
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}
.bg-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  min-height: 1000vh;
}

.header {
  display: flex;
  /* margin: auto; */
  z-index: 999;
  position: fixed;
  background-color: #f84a2f;
  /* background-size: 100%; */
  height: 120px;
  transform: translateZ(0);
  justify-content: center;
  align-items: center;
  /* margin-right: 20px; */
  width: 100%;
  /* margin-bottom: 120px; */

  top: 0;
  left: 0;
}
.header .header__top {
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__nav {
  display: flex;
}
.navbar__nav .navbar__nav--item:not(:last-child) {
  padding-right: 6px;
  margin-right: 6px;
}
.header .header__top .header__top--left li {
  position: relative;
  /* padding-right: 4px; */
}
.header__top .header__top--left li:not(:last-child):after {
  height: 12px;
  position: absolute;
  width: 1px;
  background: #f1f1f1;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  margin-left: 6px;
}
.header .header__top i {
  font-size: 16px;
}

.header .header__top .header__top--right i {
  margin-right: 4px;
}

.header .header__top .header__top--right .dropdown i:last-child {
  margin-left: 4px;
  margin-right: 0px;
}

.header .header__bottom {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}
.header .header__bottom .header__bottom--logo {
  flex-basis: 10%;
  /* padding: 20px 0; */
}
.header .header__bottom .header__bottom--logo svg {
  fill: #ffffff;
  width: 160px;
  margin-right: 30px;
  display: inline;
  /* height: 50px; */
}
.header .header__bottom .header__bottom--input {
  flex: 1;
}

.header .header__bottom .header__bottom--input .search {
  border-radius: 2px;
  display: flex;
  background-color: #ffffff;
}

.header .header__bottom .header__bottom--input .search .search__field {
  width: 100%;
  /* background-color: ; */
}
.header
  .header__bottom
  .header__bottom--input
  .search
  .search__field
  .search__field--input {
  padding-left: 15px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.header .header__bottom .header__bottom--input .search .search__button {
  margin: 5px;
  background-color: #f84a2f;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  padding: 0 20px;
}
.header .header__bottom .header__bottom--input .text {
  font-size: 12px;
  margin-top: 10px;
}
.header .header__bottom .header__bottom--cart {
  flex-basis: 10%;
}
.header .header__bottom .header__bottom--cart {
  color: #ffffff;
  text-align: center;
  margin: auto;
  /* margin: 0 10px; */
  padding-bottom: 10px;
  font-size: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.main {
  background-image: url(../img/bg_center.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 120px;
}
.main .main__center {
  /* background-color: #f84a2f; */
  padding-top: 30px;
  display: flex;
}
/* start slide */
.main .main__center .center__slide {
  width: 800px;
  height: 235px;
}
.main .main__center .center__img {
  margin-left: 5px;
  width: 395px;
  height: 240px;
  display: flex;
  flex-direction: column;
}
.main .main__center .center__img img {
  /* padding-bottom: 5px; */
  /* margin-bottom: 5px; */
  border-radius: 5px;
}
.main .main__center .center__img .center__img--bottom {
  margin-bottom: 4px;
}
.main .main__center .center__slide .center__slide--img .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* ẩn hình ảnh cho phần tử slideshow */
.main
  .main__center
  .center__slide
  .center__slide--img
  .slideshow-container
  .mySlides {
  display: none;
}
/* thiết kế nút mũi tên*/
.main
  .main__center
  .center__slide
  .center__slide--img
  .slideshow-container
  .prev,
.main
  .main__center
  .center__slide
  .center__slide--img
  .slideshow-container
  .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* thiết kế nút mũi tên next nằm phía bên phải */
.main
  .main__center
  .center__slide
  .center__slide--img
  .slideshow-container
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
.main
  .main__center
  .center__slide
  .center__slide--img
  .slideshow-container
  .prev:hover,
.main
  .main__center
  .center__slide
  .center__slide--img
  .slideshow-container
  .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.main .main__center .center__slide {
  position: relative;
}
.main .main__center .center__slide .center__slide--img .dots {
  left: 50%;
  top: 215px;
  position: absolute;
  text-align: center;
}
/* thiết lập style  nút tròn điều khiển*/
.main .main__center .center__slide .center__slide--img .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.main .main__center .center__slide .center__slide--img .dot:hover {
  background-color: #717171;
}
/* tạo hiệu ứng chuyển động fade */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */
/* end slide */

/* bỏ */
/* center */

/* .center {
  display: flex;
  padding: 40px 0;
} */
/* start main__event */
.main .main__event {
  background-color: #fff;
  /* color: #000; */
}
.main .main__event .main__event--info .event__ineer li:hover {
  /* margin-top: -10px; */
  transform: translateY(calc(-10% + 0px));
}
.main .main__event .main__event--info .event__ineer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2px;
}
.main .main__event .main__event--info .event__ineer .navbar__nav--item {
  width: 100px;
}
.main .main__event .main__event--info .event__ineer .main__event--img {
  width: 45px;
  height: 45px;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 8px;
}
.main .main__event .main__event--info .event__ineer .main__event--text {
  color: #000;
  text-align: center;
  font-size: 12px;
  margin-bottom: 8px;
}

.main .main__card {
  margin-top: 20px;
  height: 120px;
  margin-bottom: 10px;
}
/* .main__day {
  background-image: url(../img/main__day/main_day_bg.jpg);
} */
.main .main__day .main__day--title {
  height: 60px;
}
.main .main__day .main__day--buy {
  padding-left: 5px;
  padding-right: 5px;
  background-size: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../img/main__day/main_day_bg.jpg);
}
.main .main__day .main__day--buy .buy__love {
  /* background-color: #f1f1f1; */
  color: #fff;
  /* margin-left: 20px; */
  /* width: 49%;
   */
  width: 578px;
}
.main .main__day .main__day--buy .buy__love .buy__love--title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 15px;
}
.main .main__day .main__day--buy .buy__love .buy__love--title .title__text {
  font-size: 16px;
  /* padding-bottom: 15px;
  padding-left: 5px; */
}
.main .buy__love--product {
  width: 200px;
  height: 240px;
  /* background-color: #f1f1f1; */
}
.main
  .main__day
  .main__day--buy
  .buy__love
  .buy__love--product
  .product__day--img {
  /* margin-right: 100000px; */
  padding: 15px;
}
.main
  .main__day
  .main__day--buy
  .buy__love
  .buy__love--product
  .product__day--img
  .product__img {
  margin: auto;
  /* padding-top: 15px; */
  width: 160px;
  height: 160px;
}
.main .main__day .main__day--buy .buy__love .buy__love--product .product__day {
  display: flex;

  /* background-color: white; */
}
.main
  .main__day
  .main__day--buy
  .buy__love
  .buy__love--product
  .product__day
  a:not(:last-child) {
  /* background-color: #fff; */
  margin-right: 1px;
}
.main
  .main__day
  .main__day--buy
  .buy__love
  .buy__love--product
  .product__day
  a {
  background-color: #fff;
  margin-right: 1px;
}
.main .main__day .main__day--buy .buy__love .product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.main
  .main__day
  .main__day--buy
  .buy__love
  .buy__love--product
  .product__day--img
  .product__price {
  width: 100%;
  /* margin: auto;
  t */
  text-align: center;
  font-size: 18px;
  color: #f84a2f;
  padding-top: 15px;
}
/* .main__day--bottom {
  background-image: url(../img/main__day/main__day_bottom.jpg);
} */

/* end buy today */
/* start Danh mục category*/
.main__category {
  margin-top: 20px;
  background-color: #fff;
  height: 363px;
}

.main__category .main__category--title {
  height: 60px;
  padding: 20px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 16px;
  color: #b8a9a9;
}
.main__category .main__category--product {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: auto;
}
.category__product:hover {
  box-shadow: 0px 0px 1px 2px rgba(236, 233, 233, 0.9);
}
.category__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 152px;
  border-bottom: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  padding-bottom: 20px;
  /* border-left: 1px solid gray; */
}
.main__category .main__category--product .category_img img {
  width: 84px;
  height: 88px;
  /* margin: auto; */
  /* padding-top: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.main__category .main__category--product .category_text {
  text-align: center;
  width: 119px;
  height: 30px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  /* margin-top: 15px; */
}
/* end danh mục */
/* start sale */
.main__sale {
  margin-top: 25px;
  background-color: #fff;
  height: 310px;
}
.main__sale--top {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.main__sale--top .sale__top--logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__sale--top .sale__top--logo .logo__img {
  width: 100%;
  height: 25px;
  margin-right: 10px;
}
.main__sale--top .sale__top--all {
  color: #f84a2f;
  font-size: 14px;
}
.main__sale--top .logo__time .logo__time--count {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;

  /* flex-direction: row; */
}
.logo__time--count li {
  /* margin-left: ; */
  background-color: #000;
  color: #f1f1f1;
  padding: 1px 2px;
}

.main__sale--bottom {
  /* width: 200px; */
  /* height: 310px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
}
sale__bottom {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.main__sale--bottom .sale__bottom--img {
  padding: 0 15px;
}
.main__sale--bottom .sale__bottom--price {
  padding: 10px 0;
  color: #f84a2f;
  font-size: 18px;
  text-align: center;
}

.sale__bottom--bought {
  height: 16px;
  background: url(../img/sale/bg_text.png) 0 100% no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 8px;
  padding: 2px 50px;
  margin-left: 17px;
  margin-right: 17px;

  /* background-color: #f84a2f;
  padding: 2px 50px;
  border-radius: 10px; */
  /* margin-bottom: 15px; */
}
.sale__bottom--bought .bought__text {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  z-index: 2;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.sale__bottom--bought .bought__bg {
  width: 100%;
  background: transparent;
  overflow: hidden;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  height: 16px;
  border-radius: 8px;
}
/* end sale */
/* fix slick */
.slick-prev:before,
.slick-next:before {
  color: gray;
}

.slick-prev {
  left: -10px;
}
.slick-next {
  right: -10px;
}
/* end slick */
/* main__banner */
.main__banner {
  /* background-color: #717171; */
  height: 100px;
  margin-top: 25px;
  cursor: pointer;
  width: 100%;
}
.main__banner .main__banner--click {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__banner .main__banner--click .click__section {
  width: 33.3333%;
}
/* end main__banner */
/* start main__mall */
.main__mall {
  margin-top: 20px;
  background-color: #fff;
}
.main__mall .main__mall--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 25px;
  height: 61px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.main__mall .main__mall--top .top__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.main__mall .main__mall--top .top__name .top__name--title {
  color: #f84a2f;
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
  /* margin-left: ; */
}
.main__mall .main__mall--top .top__name .top__name--insurance {
  flex: 1;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #d8d8d8;
  display: flex;
  height: 20px;
}
.main__mall
  .main__mall--top
  .top__name
  .top__name--insurance
  .insurance__day
  img {
  width: 20px;
  height: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 6px;
  /* align-items: center; */
  /* display: flex; */
}
.main__mall .main__mall--top .top__name .top__name--insurance .insurance__day {
  font-size: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  /* ma */
}
.main__mall .main__mall--top .top__name .top__name--insurance .insurance__day {
  margin-right: 15px;
}

.main__mall .main__mall--top .top__see {
  font-size: 14px;
  color: #d0011b;
  cursor: pointer;
}
.main__mall .main__mall--top .top__see i {
  padding-left: 5px;
  /* text-transform: unset; */
}

.main__mall .main__mall--bottom {
  height: 450px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main__mall .main__mall--bottom .slide__left {
  width: 380px;
  /* height: 475px; */
  padding-left: 10px;
  padding-top: 10px;
}

.main__mall .main__mall--bottom .slide__right {
  /* flex: 1; */
  width: 810px;
  /* background-color: #717171; */
  /* height: 100px; */
}
.slide__right .slide__right--product {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide__right .slide__right--product .category__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide__right .category__right--product {
  width: 200px;
  height: 236px;
  padding: 10px;
  /* display: flex; */
}
.slide__right .category__right--product .category__right--text {
  font-size: 18px;
  text-align: center;
  color: #d0011b;
}
.slide__right .category__right--product .category__see {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin: auto;
  /* margin-top: 70px; */
}
/* fix slide  */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  /* opacity: 0.25; */
  display: none;
}

/* .slick-prev:hover:before,
.slick-next:hover:before {
  font-size: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
} */

.main__mall .slick-prev,
.slick-next {
  z-index: 2;
}
/* .main__mall .slick-prev:before,
.slick-next:before {
  font-size: 30px;
} */
.main__mall .slide__left .slick-prev {
  left: 10px;
  top: 205px;
}
.main__mall .slide__left .slick-next {
  right: 11px;
  top: 205px;
}
/* end slick */
/* end main__mall */

/* start tiềm kiếm hàng đầu */
.main__hot .hot__text {
  font-size: 16px;
  color: #d0011b;
}
.main__hot .main__sale--bottom .hot__bottom--text {
  font-size: 18px;
  color: #555555;
  text-align: center;
  justify-items: center;
  align-items: center;
}
/* end tiềm kiếm hàng đầu */
/* start gợi ý hôm nay */
.sug {
  margin-top: 30px;
  /* background-color: #ccc; */
}
.sug .sale__top--title {
  width: 215px;
  text-align: center;
  color: #d0011b;
}
.sug .sale__top--img img {
  width: 160px;
  height: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sug .sug__sale--top {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #fff;
  margin-bottom: 10px;
  height: 60px;
  /* top: 7.375rem; */
  width: 1200px;
  z-index: 2;
}
.sug .sug__sale--top button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
/* .sug .sug__sale--top button:hover {
  background-color: #f5f5f5;
} */

.sug .sug--bottom .tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #f5f5f5; */
  border-top: none;
}
.sug .sug--bottom .sug__product--bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.sug--bottom .sug__product--bottom .sugproduct__bottom {
  /* width: 190px;
  height: 282px;
  margin: 0 5px;
  background-color: #fff; */
  flex: 1;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
}
.sug--bottom .sug__product--bottom .sugproduct__bottom:hover {
  transform: translateY(-2px);
  border: 1px solid #d0011b;
}

.sug .sug--bottom .sug__product--bottom .sale__bottom--text {
  font-size: 12px;
  padding: 5px 2px;
  text-align: center;
}
.sug .sug--bottom .sug__product--bottom .sale__bottom--buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;
}
.sug .sug--bottom .sug__product--bottom .sale__bottom--buy .bought__price {
  font-size: 16px;
  color: #d0011b;
}
.sug .sug--bottom .sug__product--bottom .sale__bottom--buy .bought__number {
  font-size: 12px;
  color: #0000008a;
}

/* .sug .sug--bottom */
/* end gợi ý hôm nay */

/* Nhap */

/* Style the tab */

/* Change background color of buttons on hover */
/* .tab button:hover {
  background-color: #ddd;
} */

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 3px solid #ee4d24;
  padding-bottom: 23px;
}
/* .sug .sug__sale--top .sug__bottom {
  background-color: #ee4d24;
  height: 3px;
} */

/* Style the tab content */
/* footer */
.footer {
  background-color: #fff;
  margin-top: 70px;
  border-top: 4px solid #d0011b;
}
.footer .footer__top {
  padding-top: 60px;
  /* color: #000; */
}
.footer .shopee-footer-section__content {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.4;
  margin: 0.625rem 0 0;
}
.footer .shopee-footer-section__heading {
  margin: 0;
  line-height: 1.7;
  font-size: 0.875rem;
  font-weight: 700;
}
/* .footer .f__info {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.4;
  margin: 0.625rem 0 0;
} */

/* footer 2 */
.footer__mid .footer__mid--header {
  font-weight: 700;
}

.footer__mid .footer__mid--content {
  width: 240px;
}

/* footer */
a {
  color: white;
  text-decoration: none;
}
li {
  list-style: none;
}
/* .clearfix {
  overflow: auto;
} */
/* 
.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
} */

/* .content {
  padding: 120px;
} */

.sticky {
  position: fixed;
  top: 120px;
  width: 100%;
}

/* .sticky + .content {
  padding-top: 10px;
} */
